/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 .wc-action-button-shipped::after {
    font-family: Dashicons;
    content: "\f16b"; /* Dashicon code for the car icon */
}
.invoice::after {
    font-family: Dashicons;
    content: "\f193";
}

.gst_tax_class th, .gst_tax_class td {
    border: 1px solid black!important;
    border-style: ridge !important;
}