/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 .wc-action-button-shipped::after {
    font-family: Dashicons;
    content: "\f16b"; /* Dashicon code for the car icon */
}
.invoice::after {
    font-family: Dashicons;
    content: "\f193";
}

.gst_tax_class th, .gst_tax_class td {
    border: 1px solid black!important;
    border-style: ridge !important;
}

.disabled-row {
    opacity: 0.5;
    pointer-events: none;  /* Prevent any interaction (clicks, hovers, etc.) */
}

.disabled-row input,
.disabled-row select,
.disabled-row textarea {
    pointer-events: none;       /* Prevent interaction with form elements */
}

.woogst-logo-container {
    position: fixed;
    top: 30px;
    right: 20px;
    z-index: 10;
}
.woogst-logo {
    width: 100px; /* Adjust the size of the logo */
    height: auto;
    opacity: 0.5; /* Optional: make it semi-transparent */
}